<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <h1>Add New Buken</h1>
    <form action="/user/BukenAdd" method="POST">
    

        <label for="username">名前:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">パスワード:</label>
        <input type="password" id="password" name="password" required><br><br>


        <input type="submit" value="Submit">
    </form>
</body>
</html>